.info-col {
    margin: 3%;
    width: 94%;
    position: relative;
    background-color: #dda15e;
    border-radius: 8px;
}

.info-title {
    margin-top: 10px;
    text-align: center;
}

.benefits-text {
    margin: 20px 10px;
    font-size: 20px;
}