/* styles for all pages */
* {
    box-sizing: border-box;
}

.navbar-brand, .navbar-brand:active, .navbar-brand:hover {
    color: #3a5a40
}

.nav-link {
    color: #588157 !important;
}

body {
    background-color: #a3b18a;
    color: #fefae0;
}

.secondary-title {
    margin-top: auto;
    padding: 60px 0 0 0;
    text-align: center;
    color: #344e41;
}

.border-bottom {
    border-bottom: 1px solid #588157 !important;
}

#copyright{
    color: #588157 !important;
}
