/* styles for all pages */
* {
    box-sizing: border-box;
}

.navbar-brand {
    color: #3a5a40
}

.nav-link {
    color: #588157 !important;
}

.border-bottom {
    border-bottom: 1px solid #588157 !important;
}

#copyright{
    color: #588157 !important;
}

body {
    background-color: #a3b18a;
    color: #fefae0;
}
